<app-nav></app-nav>
<nav class="level is-mobile">
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Todo</p>
      <p class="title">{{todo | number}}</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Done</p>
      <p class="title">{{done | number}}</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Not done</p>
      <p class="title">{{notDone | number}}</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Achieved</p>
      <p class="title">{{achieved | number}}</p>
    </div>
  </div>
</nav>
